<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>乐淘商城-后台管理-登陆页</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="lib/bootstrap-validator/css/bootstrapValidator.css">
  <link rel="stylesheet" href="lib/nprogress/nprogress.css">
  <!-- 引入自己的 css -->
  <!-- pc 端页面, 差异性较低, 我们只需要在 common.css 里面编写样式复用即可 -->
  <link rel="stylesheet" href="css/common.css">
</head>
<body>

<!-- 左边侧边栏 -->
<div class="lt_aside">
  <!-- 大标题 -->
  <div class="brand">
    <a href="index.html">全栈1期</a>
  </div>
  <!-- 用户信息 -->
  <div class="user">
    <img src="images/pp.png" alt="">
    <p>超级管理员</p>
  </div>
  <!-- 导航 -->
  <div class="nav">
    <ul>
      <li><a href="user.html"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
      <li>
        <a class="classify" href="javascript:;"><span class="glyphicon glyphicon-list"></span> 分类管理</a>
        <ul class="child" style="display: none;">
          <li><a href="first.html">一级分类</a></li>
          <li><a href="second.html">二级分类</a></li>
        </ul>
      </li>
      <li><a class="now" href="product.html"><span class="glyphicon glyphicon-tags"></span> 商品管理</a></li>
    </ul>
  </div>
</div>

<!-- 右侧主体内容 -->
<div class="lt_main">
  
  <!-- 顶部选项栏 -->
  <div class="lt_topbar">
    <a class="pull-left icon_menu" href="javascript:;"><span class="glyphicon glyphicon-align-justify"></span></a>
    <a class="pull-right icon_logout" href="javascript:;"><span class="glyphicon glyphicon-log-out"></span></a>
  </div>
  
  
  <div class="container-fluid">
    
    <!-- 面包屑导航 -->
    <ol class="breadcrumb">
      <li><a href="index.html">管理系统</a></li>
      <li class="active">商品管理</li>
    </ol>
    
    <!-- 主体内容 -->
    <div class="lt_content">
      <!-- 内容 -->
      <button class="btn btn-default mb_20" id="addProductBtn">添加商品</button>
      
      <!-- 表格组件 -->
      <!-- table-bordered 加边框 -->
      <!-- table-hover 鼠标悬停效果 -->
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width="10%">序号</th>
            <th width="30%">商品名称</th>
            <th width="20%">商品描述</th>
            <th width="10%">商品库存</th>
            <th width="10%">商品尺寸</th>
            <th width="10%">商品状态</th>
            <th width="10%">操作</th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
      
      
      <!-- 分页组件 -->
      <div class="text-right">
        <ul id="paginator"></ul>
      </div>
      
    </div>
  
  </div>

</div>


<!-- role aria-... 是给盲人设备识别的  -->
<div class="modal fade" id="logoutModal">
  <!-- modal-lg 大型, 不写中等, modal-sm 小型模态框 -->
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">温馨提示</h4>
      </div>
      <div class="modal-body">
        <p><span class="glyphicon glyphicon-info-sign"></span> 你确定要退出管理系统么?</p>
      </div>
      <div class="modal-footer">
        <!-- data-dismiss="modal" 可以设置点击时, 关闭模态框 -->
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="logoutBtn">退出</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addProductModal">
  <!-- modal-lg 大型, 不写中等, modal-sm 小型模态框 -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">添加商品</h4>
      </div>
      <div class="modal-body">
        <form id="form">
          <!-- form-group 表示 表单中的每一行 -->
          <!-- 下拉框组件 -->
          <div class="form-group">
            <div class="dropdown">
              二级分类:
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="dropdown-text">请选择</span>
                <!-- 按钮上面, 右边的小三角 -->
                <span class="caret"></span>
              </button>
              
              <!-- 利用隐藏域存储需要提交到后台的信息数据 -->
              <input type="hidden" name="brandId">
              <ul class="dropdown-menu">
                <!--<li><a href="#">哈哈馆</a></li>-->
                <!--<li><a href="#">哈哈馆</a></li>-->
                <!--<li><a href="#">哈哈馆</a></li>-->
              </ul>
            </div>
          </div>
          
          <!-- 商品名称 -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入商品名称" name="proName">
          </div>
          
          <!-- 商品描述 -->
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="请输入商品描述" name="proDesc"></textarea>
          </div>
          
          
          <!-- 商品库存 -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入商品库存" name="num">
          </div>
          
          <!-- 商品尺码 -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入商品尺码 例如: 32-40" name="size">
          </div>
          
          <!-- 商品原价 -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入商品原价" name="oldPrice">
          </div>
          
          <!-- 商品现价 -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入商品现价" name="price">
          </div>
          
          
          <div class="form-group">
            <input type="button" value="上传图片" class="btn btn-default" id="uploadBtn">
            <!-- id 用于方便的查找这个控件 -->
            <!-- name 上传到服务器时, 服务器要通过 name 来获取图片 -->
            <!-- data-url 上传图片到服务器的接口地址 -->
            <input type="file" id="uploadFile" name="pic1" data-url="/product/addProductPic" multiple style="display: none">
          </div>
          
          <div class="form-group imgBox">
            <!--<img src="images/none.png" width="100" alt="">-->
            <!--<img src="images/none.png" width="100" alt="">-->
            <!--<img src="images/none.png" width="100" alt="">-->
            <!-- multiple 可以上传多张图片 -->
            <input type="hidden" name="picBoxValidateFlag">
          </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <!-- data-dismiss="modal" 可以设置点击时, 关闭模态框 -->
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <!-- html5 新增一个属性, form 属性, 可以让表单外面的元素, 归属于表单内部 -->
        <button type="submit" form="form" class="btn btn-primary" id="submitBtn">添加</button>
      </div>
    </div>
  </div>
</div>



<script type="text/html" id="productTpl">
  {{ each rows v i }}

    <tr>
      <td>{{ (page-1) * size + (i+1) }}</td>
      <td>{{ v.proName }}</td>
      <td>{{ v.proDesc }}</td>
      <td>{{ v.num }}</td>
      <td>{{ v.size }}</td>
      <!-- 如果 statu 1 上架, 0 下架 -->
      <td>{{ v.statu === 1 ? "已上架" : "已下架" }}</td>
      <td>
        <!-- 如果是已上架的状态, 显示的应该是下架按钮 -->
        {{ if v.statu === 1 }}
          <button class="btn btn-danger">下架</button>
        {{ /if }}
        
        {{ if v.statu === 0 }}
          <button class="btn btn-success">上架</button>
        {{ /if }}
      </td>
    </tr>
  
  {{ /each }}
</script>


<script type="text/html" id="dropdownTpl">
  {{ each rows v i }}
    <li><a href="#" data-id="{{ v.id }}">{{ v.brandName }}</a></li>
  {{ /each }}
</script>



<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/bootstrap-validator/js/bootstrapValidator.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<!-- 模板引擎渲染 -->
<script src="lib/artTemplate/template-web.js"></script>

<!-- 引入分页插件 -->
<script src="lib/bootstrap-paginator/bootstrap-paginator.js"></script>

<!-- 引入文件上传的包 -->
<script src="lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="lib/jquery-fileupload/jquery.fileupload.js"></script>

<script src="js/common.js"></script>
<!-- 我们自己的js -->
<script src="js/product.js"></script>

</body>
</html>